* { margin: 0; box-sizing: border-box; }

body {
  /* height 100% of the browser + 10 sections at 1500px minus one for the first visible one to scroll into   */
  height: calc(100vh + 13500px);
}

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #f9f6de;
  padding: 40px;
  will-change: transform, background-color;
}

.left, .right {
    display: flex; 
    align-items: center;
    flex-direction: column;  
}

h1 {
    font-size: 48px;
}
p {
    font-size: 36px;
    padding: 20px;
    text-align: justify;
}



div:first-child {
  text-align: right;
}

div:last-child {
  left: auto;
  right: 0;
}